<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fluctos</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: #e6e6e6;
        }
        .content {
            flex: 1;
        }
        footer {
            background-color: var(--main-color, #333);
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <%- include(navbar) %>


    <!-- Main Content -->
    <div class="content container mx-auto my-5 p-5 mt-16">
        <div class="md:flex no-wrap md:-mx-2">

            <!-- Left Sidebar/Profile Card -->
            <div class="w-full md:w-3/12 md:mx-2 mb-6">
                <div class="bg-white p-3 border-t-4 rounded-2xl shadow-md">
                    <div class="image overflow-hidden">
                        <img class="h-auto w-full mx-auto rounded-full" src="images/profile_photo.svg" alt="Profile Photo">
                    </div>
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1"><%= user.fullName %></h1>
                    <ul class="bg-gray-100 text-gray-600 py-2 px-3 mt-3 divide-y rounded shadow-sm">
                        <li class="flex items-center py-3">
                            <span>Status</span>
                            <span class="ml-auto">
                                <span class="bg-green-500 py-1 px-2 rounded text-white text-sm">Active</span>
                            </span>
                        </li>
                        <li class="flex items-center py-3">
                            <span>Member since</span>
                            <span class="ml-auto">Oct 07, 2024</span>
                        </li>
                    </ul>
                </div>
                
                <!-- Token and Slide Buttons -->
                <div class="my-4 bg-white p-5 rounded-2xl shadow-lg hover:scale-105 transform transition">
                    <div class="flex items-center space-x-3 text-2xl font-semibold text-gray-900 mb-4">
                        <span class="text-green-500">
                            <!-- Icon -->
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
                              </svg>
                              
                        </span>
                        <span>Slide Process</span>
                    </div>
                    <div class=" grid grid-cols-1 md:grid-cols-2 gap-4 text-center">
                        <h2 class="text-l font-semibold mt-1 text-gray-700">Token Count: <span id="tokenCount" class="text-green-500 font-bold"><%- user.tokenCount %></span></h2>
                        <a href="/profile/buytoken" class="bg-green-500 text-white px-1 py-1 text-l rounded-2xl hover:bg-green-600 transition duration-200">Buy Token</a>
                    </div>
                    <div class="flex items-center justify-center my-4 space-x-4">
                        <a href="/slide/slideGenerationPage" class="bg-blue-500 text-white px-4 py-2 rounded-2xl hover:bg-blue-600 transition duration-200">Slide Generator</a>
                    </div>
                </div>
            </div>

            <!-- Right Sidebar / Profile Details -->
            <div class="w-full md:w-9/12 mx-2 mt-2">
                <!-- Profile Details Section -->
                <div class="bg-white p-6 rounded-lg shadow-md mb-8">
                    <h2 class="text-2xl font-semibold mb-4 border-b-2 border-gray-200 pb-2">Profile Details</h2>
                    <div class="flex items-center mb-4">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1ebc1e" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm10 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-8-5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm1.942 4a3 3 0 0 0-2.847 2.051l-.044.133-.004.012c-.042.126-.055.167-.042.195.006.013.02.023.038.039.032.025.08.064.146.155A1 1 0 0 0 6 17h6a1 1 0 0 0 .811-.415.713.713 0 0 1 .146-.155c.019-.016.031-.026.038-.04.014-.027 0-.068-.042-.194l-.004-.012-.044-.133A3 3 0 0 0 10.059 14H7.942Z" clip-rule="evenodd"/>
                          </svg>
                          
                        <p class="text-lg"><strong>Name & Surname:</strong> <%= user.fullName %></p>
                    </div>
                    <div class="flex items-center mb-4">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1ebc1e" viewBox="0 0 24 24">
                            <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                          </svg>
                          
                        <p class="text-lg"><strong>E-mail:</strong> <%= user.email %></p>
                    </div>
                    <div class="flex items-center mb-4">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#1ebc1e" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd"/>
                          </svg>
                          
                        <p class="text-lg"><strong>Role:</strong> <%= user.role %></p>
                    </div>
                </div>
                
                <!-- Slide Cards Section -->
                <h1 class="text-4xl font-bold mt-10 mb-10">My Slides</h1>
                <section class="text-gray-700 font-bold">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <% slides.forEach((slide, index) => { %>
                            <div class="border-2 border-gray-200 bg-gray-100 font-bold border-opacity-60 rounded-lg overflow-hidden flex flex-col justify-between">
                                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="<%= slide.imageUrl %>" alt="Slide Image"/>
                                <div class="p-4 flex-grow">
                                    <h2 class="text-sm font-bold text-green-500 uppercase">Slide Title</h2>
                                    <h1 class="text-lg font-medium text-gray-800 mt-2"><%= slide.title %></h1>
                                    <h2 class="text-sm font-bold text-green-500 uppercase mt-4">Description</h2>
                                    <p class="text-gray-800 mt-2 overflow-hidden" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; min-height: 4.5em;">
                                        <%= slide.description %>
                                    </p>
                                    <h2 class="text-sm font-bold text-green-500 uppercase mt-4">View Count</h2>
                                    <p class="text-lg font-medium text-gray-800 mt-2"><%= slide.viewedCount %></p>
                                </div>
                                <div class="p-4">
                                    <a href="/moreInfo/<%= slide.filepath %>" class="text-green-800 inline-flex items-center">More Info
                                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                                            <path d="M5 12h14"></path>
                                            <path d="M12 5l7 7-7 7"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </section>

                
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const descriptions = document.querySelectorAll('.truncate-description');
                        descriptions.forEach(description => {
                            const fullText = description.getAttribute('data-full-text');
                            const maxLines = 3;
                
                            // Temporarily set overflow and calculate height
                            description.style.display = '-webkit-box';
                            description.style.webkitBoxOrient = 'vertical';
                            description.style.webkitLineClamp = maxLines;
                            description.style.overflow = 'hidden';
                
                            // Add ellipsis if truncated
                            if (description.scrollHeight > description.clientHeight) {
                                description.textContent = fullText.substring(0, fullText.length - 3) + '...';
                            }
                        });
                    });
                </script>
                
            </div>
        </div>
    </div>

    <%- include('footer') %>
</body>
</html>
